<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h2>
    {{message}}
  </h2>
  <!-- <app-first-component></app-first-component> -->
  <!-- <app-second-component></app-second-component> -->
  <!-- <app-third-component></app-third-component> -->
  <!-- <app-forth-component></app-forth-component> -->
  <!-- <app-event-binding></app-event-binding> -->
  <!-- <app-template-reference-variables></app-template-reference-variables> -->
  <!-- <app-two-way-binding></app-two-way-binding> -->
  <!-- <app-ng-if-component></app-ng-if-component> -->
  <!-- <app-ng-switch-component></app-ng-switch-component> -->
  <!-- <app-ng-for-component></app-ng-for-component> -->
  <!-- <app-component-interation (childEvent)="message=$event" [parentData]="name"></app-component-interation> -->
  <app-pipes></app-pipes>
</div>


<router-outlet></router-outlet>
